.header__menu, .header__logo {
  text-transform: uppercase;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.contact, .contenu__droite__bas, .posters__contenu, .secondaire__icones, .header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posters footer, .blog > footer {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Raleway", sans-serif;
}
header img {
  width: 100%;
  height: 100%;
}

.header__logo {
  width: 170px;
  height: 68px;
  position: absolute;
  top: 8%;
  right: 0;
  bottom: 0;
  left: 18%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 17px 5px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
}

.header__menu {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 58px;
  right: 200px;
  letter-spacing: 1px;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.header__txt {
  position: absolute;
  top: 65%;
  right: 0;
  bottom: 0;
  left: 68%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  width: 720px;
  color: #fff;
  line-height: 75px;
  letter-spacing: 9px;
  font-weight: bold;
}
.header__txt span {
  font-size: 200px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 19px;
}

.header__block {
  width: 180px;
  height: 20px;
  position: absolute;
  top: 92%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__block__icones {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}
.header__block__icones:nth-child(3) {
  background-color: #fff;
}

main {
  font-family: "Raleway", sans-serif;
}
main section {
  width: 100%;
  height: auto;
  padding: 110px 100px 0px;
}
main ul li {
  list-style-type: none;
}

.principal {
  width: 916px;
  height: auto;
  margin: auto;
  padding: 100px 0 70px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
.principal h1 {
  font-size: 45px;
  font-weight: 100;
}
.principal h1 span {
  font-weight: bold;
}
.principal h1 + p {
  font-weight: bold;
}
.principal hr {
  width: 75px;
  margin: 45px auto 60px;
  border: 1px solid #000;
}
.principal hr + p {
  text-align: justify;
}

.principal > * {
  margin-bottom: 40px;
}

.secondaire {
  width: 100%;
  height: 646px;
  background-color: #ffe9e2;
  display: flex;
}

.secondaire__article,
.secondaire__img {
  width: 50%;
  height: auto;
}

.secondaire__img > img {
  width: 100%;
  height: 100%;
}

.secondaire__article {
  padding: 140px 100px 70px;
  font-size: 30px;
  line-height: 50px;
}
.secondaire__article > p {
  font-weight: bold;
}
.secondaire__article footer {
  margin-top: 70px;
  font-weight: 100;
}

.secondaire__icones {
  width: 70px;
  margin-top: 55px;
}
.secondaire__icones div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
}
.secondaire__icones div:first-child {
  background-color: #000;
}

.section__h2 {
  font-size: 45px;
  font-weight: bold;
}

.section__hr {
  margin: 30px 0 100px;
  border: 2px solid gray;
  width: 70px;
}

.blog__content {
  display: flex;
  flex-wrap: wrap;
}

.blog__content__msg {
  width: 570px;
  height: 290px;
  padding: 50px 50px 60px;
  border: 1px solid #000;
}
.blog__content__msg h3 {
  font-size: 28px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.blog__content__msg p {
  margin-bottom: 40px;
}
.blog__content__msg footer > p {
  font-style: oblique;
}

.blog__content__msg:nth-child(2) {
  border-left: none;
  border-bottom: none;
}

.blog__content__msg:nth-child(3) {
  border-right: none;
  border-top: none;
}

.footer__button {
  width: 280px;
  height: 60px;
  border: 2px solid;
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 3px;
}

.ban__img {
  width: 100%;
  height: 660px;
  position: relative;
}
.ban__img img {
  width: 100%;
  height: 100%;
}

.ban__citation {
  width: 810px;
  height: auto;
  height: auto;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}
.ban__citation blockquote {
  margin-top: 75px;
  font-size: 20px;
  font-weight: normal;
}
.ban__citation blockquote span {
  text-decoration: underline;
}

.posters {
  background-color: #eeeff0;
}
.posters__contenu__gauche {
  width: 440px;
  height: 760px;
}
.posters__contenu__gauche img {
  width: 100%;
  height: 100%;
}

.posters__contenu__droite {
  width: 630px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenu__droite__haut {
  width: 630px;
  height: 370px;
}
.contenu__droite__haut img {
  width: 100%;
  height: 100%;
}

.contenu__droite__bas {
  width: 630px;
  height: 340px;
}
.contenu__droite__bas .poster__gauche,
.contenu__droite__bas .poster__droite {
  width: 280px;
  height: 340px;
}
.contenu__droite__bas .poster__gauche img,
.contenu__droite__bas .poster__droite img {
  width: 100%;
  height: 100%;
}

.contact {
  font-weight: bold;
  letter-spacing: 3px;
}

.contact__bloc {
  width: 250px;
  height: 370px;
}
.contact__bloc h4 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.contact__bloc:nth-child(1) > ul > li,
.contact__bloc:nth-child(2) > ul > li {
  margin-bottom: 15px;
}

.contact__bloc:nth-child(3) {
  line-height: 25px;
}

.contact__bloc:nth-child(3) > ul > li:first-child {
  margin-bottom: 30px;
}

.contact__bloc:nth-child(4) input {
  width: 300px;
  margin: 30px 0 20px;
  padding: 15px 20px;
  background-color: #eeeff0;
  border: none;
}
.contact__bloc:nth-child(4) input::placeholder {
  color: gray;
  letter-spacing: 3px;
}
.contact__bloc:nth-child(4) .footer__button {
  width: 130px;
  height: 40px;
  border: 2px solid;
  background-color: #fff;
  color: #000;
  padding: 10px 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 3px;
}

/*# sourceMappingURL=style.css.map */
