//Pour positionner un element en "absolute"
@mixin position-abs($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);  
}

//Pour déterminer la taille d'un élément
@mixin taille-elt($width, $height) {
    width: $width;
    height: $height;
}