
%txt-logo {
    text-transform: uppercase;
    color: $txt-blanc;
    font-family: $font-logo;
}

%flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%section-footer {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}