//FONTS
$font-logo: 'Montserrat', sans-serif;
$font-principal: 'Raleway', sans-serif;
$taille-font-titre: 45px;

//COULEURS
$txt-blanc: #f5f5f5;

$blanc: #fff;
$noir: #000;

//STYLE AFFICHAGE
$ecart-lettre: 3px;