@import './variables';
@import './mixins';
@import './placeholders';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    @include taille-elt(100%, auto);
    position: relative;
    font-family: $font-principal;

    img {
        @include taille-elt(100%, 100%);
    }
}

.header__logo {
    @include taille-elt(170px, 68px);
    @include position-abs(8%, 0, 0, 18%, -50%, -50%);
    background-color: $noir;
    padding: 17px 5px;
    @extend %txt-logo;
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
}

.header__menu {
    @include taille-elt(50px, 25px);
    position: absolute;
    top: 58px;
    right: 200px;
    @extend %txt-logo;
    letter-spacing: 1px;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.header__txt {
    @include position-abs(65%, 0, 0, 68%, -50%, -50%);
    font-size: 55px;
    width: 720px;
    color: $blanc;
    line-height: 75px;
    letter-spacing: 9px;
    font-weight: bold;

    & span {
        font-size: 200px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 19px;

    }
}



.header__block {
    @include taille-elt(180px, 20px);
    @include position-abs(92%, 0, 0, 50%, -50%, -50%);
    @extend %flex-row;
}

.header__block__icones {
    @include taille-elt (16px, 16px);
    background-color: $noir;
    border-radius: 50%;

    &:nth-child(3) {
        background-color: $blanc;
    }
}

main {
    font-family: $font-principal;

    section {
        @include taille-elt(100%, auto);
        padding: 110px 100px 140px;
    }
}

.principal {
    @include taille-elt (916px, auto);
    margin: auto;
    padding: 100px 0 70px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;

    h1 {
        font-size: $taille-font-titre;
        font-weight: 100;

        span {
            font-weight: bold;
        }
    }

    h1+p {
        font-weight: bold;
    }

    hr {
        width: 75px;
        margin: 45px auto 60px;
        border: 1px solid $noir;
    }

    hr+p {
        text-align: justify;
    }
}

.principal>* {
    margin-bottom: 40px;
}

.secondaire {
    @include taille-elt(100%, 646px);
    background-color: #ffe9e2;
    display: flex;
}

.secondaire__article,
.secondaire__img {
    @include taille-elt(50%, auto);
}

.secondaire__img>img {
    @include taille-elt(100%, 100%);
}

.secondaire__article {
    padding: 140px 100px 70px;
    font-size: 30px;
    line-height: 50px;

    &>p {
        font-weight: bold;
    }

    footer {
        margin-top: 70px;
        font-weight: 100;
    }
}

.secondaire__icones {
    @extend %flex-row;
    width: 70px;
    margin-top: 55px;

    div {
        @include taille-elt (10px, 10px);
        border-radius: 50%;
        border: 1px solid $noir;

        &:first-child {
            background-color: $noir;
        }
    }
}

.blog {
    padding-bottom: 0;

    &>footer {
        @extend %section-footer;
    }
}

.section__h2 {
    font-size: $taille-font-titre;
    font-weight: bold;
}

.section__hr {
    margin: 30px 0 100px;
    border: 2px solid gray;
    width: 70px;
}

.blog__content {
    display: flex;
    flex-wrap: wrap;
}

.blog__content__msg {
    @include taille-elt (570px, 290px);
    padding: 50px 50px 60px;
    border: 1px solid $noir;

    h3 {
        font-size: 28px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 40px;
    }

    footer>p {
        font-style: oblique;
    }
}

.blog__content__msg:nth-child(2) {
    border-left: none;
    border-bottom: none;
}

.blog__content__msg:nth-child(3) {
    border-right: none;
    border-top: none;
}

.footer__button {
    @include taille-elt (280px, 60px);
    border: 2px solid;
    background-color: $blanc;
    color: $noir;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 3px;
}


.ban__img {
    @include taille-elt (100%, 660px);
    position: relative;

    img {
        @include taille-elt (100%, 100%);
    }
}

.ban__citation {
    @include taille-elt (810px, auto);
    height: auto;
    @include position-abs(50%, 0, 0, 50%, -50%, -50%);
    color: $blanc;
    font-size: $taille-font-titre;
    text-align: center;
    font-weight: bold;

    blockquote {
        margin-top: 75px;
        font-size: 20px;
        font-weight: normal;

        span {
            text-decoration: underline;
        }
    }
}

.posters {
    background-color: #eeeff0;

    footer {
        @extend %section-footer;
    }
}

.posters__contenu {
    @extend %flex-row;
}

.posters__contenu__gauche {
    @include taille-elt (440px, 760px);

    img {
        @include taille-elt (100%, 100%);
    }
}

.posters__contenu__droite {
    @include taille-elt (630px, 760px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.contenu__droite__haut {
    @include taille-elt (630px, 370px);

    img {
        @include taille-elt (100%, 100%);
    }
}

.contenu__droite__bas {
    @extend %flex-row;
    @include taille-elt (630px, 340px);

    .poster__gauche,
    .poster__droite {
        @include taille-elt (280px, 340px);

        img {
            @include taille-elt (100%, 100%);
        }
    }



}
