@import './variables';
@import './mixins';
@import './placeholders';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 850px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 170px;
        height: 68px;
        position: absolute;
        top: 40px;
        left: 170px;
        background-color: #000;
        color: #F5F5F5;
        padding: 17px 5px;
        font-family: $font-logo;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 25px;
    }
    .menu {
        position: absolute;
        top: 58px;
        right: 200px;
        text-transform: uppercase;
        color: $txt-blanc;
        font-family: $font-logo;
        letter-spacing: 1px;
        font-size: 15px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        padding: 2px 0;
    }
}

main {
    width: 1366px;
    font-family: sans-serif;
}

