@import './variables';
@import './mixins';
@import './placeholders';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    @include taille-elt(100%, 850px);
    position: relative;
    font-family: $font-principal;
    img {
        @include taille-elt(100%, 100%);
    }
    .header__logo {
        @include taille-elt(170px, 68px);
        @include position-abs(8%, 0, 0, 18%, -50%, -50%);
        background-color: $noir;        
        padding: 17px 5px;
        @extend %txt-logo;
        text-align: center;
        letter-spacing: 5px;
        font-size: 25px;
    }
    .header__menu {
        @include taille-elt(50px, 25px);
        position: absolute;
        top: 58px;
        right: 200px;
        @extend %txt-logo;
        letter-spacing: 1px;
        font-size: 15px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
    .header__txt {
        @include position-abs(65%, 0, 0, 68%, -50%, -50%);
        font-size: 55px;
        width: 720px;
        color: $blanc;
        line-height: 75px;
        letter-spacing: 9px;
        font-weight: bold;
    }
    .header__txt span {
        font-size: 200px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 19px;
        
    }
    .header__block {
        @include taille-elt(180px ,20px);
        @include position-abs(92%, 0, 0, 50%, -50%, -50%);
        @extend %flex-row;
        .header__block__icones {
            @include taille-elt (16px, 16px);
            background-color: $noir;
            border-radius: 50%;
        }
        .header__block__icones:nth-child(3) {
            background-color: $blanc;
        }
    }

}

main {
    width: 1366px;
    font-family: $font-principal;
}

